@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 697px) {
  body {
    background-color: #fff;
  }
  .instagram-wrapper {
    width: 90%;
  }
  .instagram-phone {
    display: none;
  }
  .instagram-continue {
    width: 100%;
  }
  .group {
    border: 1px solid transparent;
  }
}

@media (min-width: 698px) and (max-width: 1020px) {
  .instagram-phone {
    width: 80%;
    margin-top: 20rem;
  }
}

@media (min-width: 690px) {
  .download {
    width: 100% !important;
  }
}
