* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.instagram-phone img {
  height: 51rem;
}

.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 350px;
  height: 339px;
  padding: 1.3rem 0;
  border: 1px solid lightgrey;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.instagram-logo {
  height: 3.6rem;
  margin-top: 1rem;
}

.profile-photo {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  height: 7.3rem;
}

.instagram-login {
  background-color: #0095f6;
  color: #fff;
  padding: 5.8px 30px;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  border: 0;
}

.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}

.not-account {
  color: #111;
  margin-bottom: 1rem;
}

.link-blue {
  color: #0095f6;
  font-weight: 600;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url(../img/apple-button.png);
}

.app-download:nth-child(2) {
  background-image: url(../img/googleplay-button.png);
}

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  body {
    background-color: #fff;
  }
  .instagram-wrapper {
    width: 90%;
  }
  .instagram-phone {
    display: none;
  }
  .instagram-continue {
    width: 100%;
  }
  .group {
    border: 1px solid transparent;
  }
}

.hr-ou {
  border: 0;
  border-top: 1px solid #ccc;
  overflow: visible;
  padding: 0;
  color: #8e8e8e;
  text-align: center;
  /* margin: 0 2rem; */
}

.hr-ou::after {
  content: "OU";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: 600;
  padding: 0 1em;
  background: white;
}

/*photos*/

.instagram-gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.celular {
  position: absolute;
  opacity: 0;
  animation-name: animatPhotos;
  animation-duration: 28s;
  animation-iteration-count: infinite;
}

@keyframes animatPhotos {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* .celular:nth-child(1) {
  animation-delay: 5s; *
} */

.celular:nth-child(2) {
  animation-delay: 7s;
}

.celular:nth-child(3) {
  animation-delay: 14s;
}

.celular:nth-child(4) {
  animation-delay: 21s;
}

.instagram-div-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.instagram-form {
  margin-top: 2rem;
  height: 100%;
  width: 100%;
}

.instagram-input {
  border: 1px solid #dbdbdb;
  width: 100%;
  border-radius: 3px;
}

.input-login {
  background: #fafafa;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: 0;
  flex: 1 0 auto;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
}

#password {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.instagram-label {
  display: flex;
  position: relative;
}

.instagram-label-text {
  color: #8e8e8e;
  font-size: 12px;
  height: 36px;
  left: 8px;
  line-height: 36px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 0;
  transition: all 0.3s;
}

#instagram-login {
  min-height: 27.2rem;
}

.input-login:focus + .instagram-label-text {
  transform: scale(0.83333) translateY(-10px);
}
